<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
<div class="navbar navbar-inverse " th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img style="width: 100px" src="http://www.polyomics.gla.ac.uk/images/car_blue_on_white.png"/>
        </div>
        <div class="navbar-collapse collapse">
            <div th:unless="${role}">
                    </div>
            <a class="navbar-brand" href="/profile">Profile</a>
            <a class="navbar-brand" href="/logout">Logout </a>

        </div>
    </div>
</div>
</body>
</html>
