<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header">dupa</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var message = [[${message}]];
    $(document).ready(function () {

        if (message != null)
            alert(message);
    })
    /*]]>*/
</script>


<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>model</th>
            <th>brand</th>
            <th>year</th>
            <th>engine</th>
            <th>description</th>
            <th>status</th>

        </tr>
        </thead>
        <form action="cars/add" method="post">
            <tr>
                <th>id</th>
                <th><input th:required="required" type="text" name="model"/></th>
                <th><select name="brand">
                    <option th:each="brands : ${brands}" th:value="${brands.id}" th:text="${brands.name}">Wireframe
                    </option>
                </select></th>
                <th><input th:required="required" type="text" name="production"/></th>
                <th><input th:required="required" type="text" name="engine"/></th>
                <th><input th:required="required" type="text" name="description"/></th>
                <th></th>
                <th><input type="submit" class="btn btn-success" value="Add"/></th>

            </tr>
        </form>
        <tr th:each="cars : ${cars}">
            <td th:border="1" th:text="${cars.id}">1</td>
            <td th:text="${cars.model}"/>
            <td th:text="${cars.brand.name}"/>
            <td th:text="${cars.production}"/>
            <td th:text="${cars.engine}"/>
            <td th:text="${cars.description}"/>
            <td th:unless="${cars.available}" style="background-color: red" th:text="${cars.available}"/>
            <td th:if="${cars.available}" style="background-color: greenyellow" th:text="${cars.available}"/>


            <td>
                <a th:href="'cars/more/'+${cars.id}">
                    <button type="button" class="btn btn-info">More</button>
                </a>
                <a th:href="'cars/delete/'+${cars.id}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a></td>


        </tr>
    </table>
</div>
</body>

</html>